@import url('root.css');
@import url('fonts.css');

.class_body{
    background-color: var(--bg-solid);
    border-radius: 20px;

    font-family: "Roboto", sans-serif;
}

.pos_annotation{
    right: 35px;
}